@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* Espessura do underline */
  background-color: currentColor;
  /* Cor do texto */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::before {
  transform: scaleX(1);
}
